* text=auto

*.md        text diff=markdown
*.txt       text

*.yaml      text
*.json      text

.husky/**/* text eol=lf
*.sh        text eol=lf

*.cjs       text
*.mjs       text
*.js        text
*.ts        text
